@import 'https://fonts.googleapis.com/css?family=Montserrat|OpenSans';

/* Icons */
@import url('https://css.gg/css?=|calendar|stopwatch|eye|games');

/* Defaults */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --colour-main-darkviolet: #39375b;
    --colour-main-violet: #745c97;
    --colour-main-lavender: #d597ce;
    --colour-main-pinkpeach: #f5b0cb;
    --colour-main-peach: #fdd5d8;
    --colour-main-black: #212121;
    --colour-main-grey: #878787;
    --colour-main-white: #fffafa;

    --default-border-radius: 2px;
}

body {
    color: var(--colour-main-black);
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;

    margin: 0;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

img {
    max-width: 100%;
    display: block;
}

a, a:visited {
    color: var(--colour-main-darkviolet);
    text-decoration: dotted;
}
a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
}
.flex-container.flex-row {
    flex-direction: row;
    align-items: center;

}
.flex-container.flex-col {
    flex-direction: column;
}
.flex-col .flex-col-bottom {
    margin-top:auto;
}
.flex-row.flex-split {
    justify-content: space-between;
}

.deemphasis {
    color: var(--colour-main-grey);
}

/* Styles */

header {
    background-color: var(--colour-main-darkviolet);
    color: var(--colour-main-pinkpeach);

    padding: 1vw;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
header ul li {
    padding: 1rem;
}
header a, a:visited, a:hover {
    color: var(--colour-main-pinkpeach);
}


body {
    background-color: var(--colour-main-peach);
}

#main-content {
    padding: 1em 2em;
}

.card-item {
    background-color: var(--colour-main-black);
    background-size: contain;
    background-repeat: no-repeat;
    color: var(--colour-main-white);

    border-radius: var(--default-border-radius);
    width: 380px;
    min-height: 300px;
    margin: 1rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card-item:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-item > * {
    padding: 0.8rem;
}
.card-item .card-item-title > h3 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.card-item .card-item-title > span {
    align-items: center;
}
.card-item .card-item-title > span img {
    width: 2.5rem;
    height: auto;
    border-radius: 50%;
    border: 3px solid var(--colour-main-lavender);
    float: left;
    margin-right: 1rem;
}
.card-item .meta-info {
    background-color: var(--colour-main-lavender);
    color: var(--colour-main-white);
    width: 100%;
}
.meta-info .card-meta-info-half {
    max-width: 45%;
}
.meta-info .card-meta-info-half.card-meta-info-half_right > span {
    flex-flow: row-reverse;
}
.card-meta-info-half i + span {
    margin: 0.2rem;
}
a:hover:has(.card-item) {
    text-decoration: none;
} 

.search-container {
    align-items: center;
    justify-content: center;
}

.model-search {
    font-size: 1.5rem;
    padding: 1rem;
    min-width: 50%;

    border: none;
    background-color: var(--colour-main-peach);
    border-bottom: 3px solid var(--colour-main-pinkpeach);
}
.model-search:focus {
    outline: none;
}