@import 'https://fonts.googleapis.com/css?family=Montserrat|OpenSans';

/* Icons */
@import url('https://css.gg/css?=|calendar|stopwatch|eye|games|tag|format-text|add|close');

/* Defaults */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --colour-main-darkviolet: #39375b;
    --colour-main-violet: #745c97;
    --colour-main-lavender: #d597ce;
    --colour-main-pinkpeach: #f5b0cb;
    --colour-main-peach: #fdd5d8;
    --colour-main-black: #212121;
    --colour-main-grey: #878787;
    --colour-main-white: #fffafa;

    --default-border-radius: 2px;

    --default-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --default-box-shadow-hover: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    --default-box-shadow-hover-low: 0 3px 5px rgba(0,0,0,0.18), 0 1px 3px rgba(0,0,0,0.20);
    --default-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

body {
    color: var(--colour-main-black);
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;

    margin: 0;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

img {
    max-width: 100%;
    display: block;
}

a,
a:visited,
a:hover {
    color: var(--colour-main-darkviolet);
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
}
h1 { margin-bottom: 3rem; }
h2 { margin-bottom: 2.8rem; }
h3 { margin-bottom: 2.4rem; }
h4 { margin-bottom: 2rem; }

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
}
.flex-container.flex-row {
    flex-direction: row;
    align-items: center;

}
.flex-container.flex-col {
    flex-direction: column;
}
.flex-col .flex-col-bottom {
    margin-top:auto;
}
.flex-row.flex-split {
    justify-content: space-between;
}
.flex-top-aligned {
    align-items: flex-start;
}

.deemphasis {
    color: var(--colour-main-grey);
}

/* Form items */

form {
    padding: 3rem;
    width: 50%;
    background-color: var(--colour-main-white);
    border-radius: var(--default-border-radius);
    box-shadow: var(--default-box-shadow);
}

form .form-group {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
}

button, 
a.button {
    all: unset;
    border-radius: var(--default-border-radius);
    background-color: var(--colour-main-lavender);
    color: var(--colour-main-white);
    padding: 1rem;
    display: inline;

    box-shadow: var(--default-box-shadow);
    transition: var(--default-transition);
}
button:hover,
a.button:hover {
    color: var(--colour-main-white);
    text-decoration: none;
    box-shadow: var(--default-box-shadow-hover-low);
}

input {
    font-size: 1.2rem;
    padding: 0.4rem;
    min-width: 50%;

    border: none;
    background-color: var(--colour-main-white);
    border-bottom: 3px solid var(--colour-main-pinkpeach);
}
input:focus {
    outline: none;
}

.toggle-wrapper {
    position: relative;
    display: inline-block;
    height: 2rem;
    border-radius: 2rem;
}
.toggle-wrapper label {
    display: flex;
    flex-direction: row-reverse;
} 
.toggle-wrapper input[type=checkbox] {
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* The slider */
.toggle-background {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--colour-main-violet);
    transition: all .25s;
    width: 4rem;
}
  
.toggle-background:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--colour-main-white);
    transition: .4s;
    border-radius: 50%;
}
  
.toggle-wrapper input[type=checkbox]:checked + .toggle-background {
    background-color: var(--colour-main-violet);
}
  
.toggle-wrapper input[type=checkbox]:focus + .toggle-background {
    box-shadow: var(--default-box-shadow-hover-low);
}
  
.toggle-wrapper input[type=checkbox]:checked + .toggle-background:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Styles */

header {
    background-color: var(--colour-main-darkviolet);
    color: var(--colour-main-pinkpeach);

    padding: 1vw;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
header ul li {
    padding: 1rem;
}
header a, a:visited, a:hover {
    color: var(--colour-main-pinkpeach);
}


body {
    background-color: var(--colour-main-peach);
}

#main-content {
    padding: 1em 2em;
}
.filter-result-container {
    float: right;
    width: calc(100vw - 300px) ;
}

.card-item {
    background-color: var(--colour-main-black);
    background-size: contain;
    background-repeat: no-repeat;
    color: var(--colour-main-white);

    border-radius: var(--default-border-radius);
    width: 380px;
    min-height: 350px;
    margin: 1rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card-item:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-item > * {
    padding: 0.8rem;
}
.card-item .card-item-title > h3 a {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: var(--colour-main-peach);
    text-decoration: none;
}
.card-item .card-item-title > h3 a:hover,
.card-item .card-item-title > h3 a:visited {
    color: var(--colour-main-peach);
}
.card-item .card-item-title > span {
    align-items: center;
}
.card-item .card-item-title > span img {
    width: 2.5rem;
    height: auto;
    border-radius: 50%;
    border: 3px solid var(--colour-main-lavender);
    float: left;
    margin-right: 1rem;
}
.card-item .meta-info {
    background-color: var(--colour-main-lavender);
    color: var(--colour-main-white);
    width: 100%;
}
.tag-space {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.tag-space .tag-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    
    background-color: var(--colour-main-peach);
    color: var(--colour-main-white);
    border-radius: var(--default-border-radius);
    padding: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}
.tag-space .tag-label.selected {
    background-color: var(--colour-main-darkviolet);
}

.tag-space .tag-label > * {
    margin-right: 0.8rem;
} 
.meta-info .card-meta-info-half {
    max-width: 45%;
}
.meta-info .card-meta-info-half.card-meta-info-half_right > span {
    flex-flow: row-reverse;
}
.card-meta-info-half i + span {
    margin: 0 0.5rem;
}
a:hover:has(.card-item) {
    text-decoration: none;
} 

.search-container {
    align-items: center;
    justify-content: center;
}
.model-search {
    font-size: 1.5rem;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    min-width: 50%;

    border: none;
    background-color: var(--colour-main-peach);
    border-bottom: 3px solid var(--colour-main-pinkpeach);
}
.model-search:focus {
    outline: none;
}

#search-result-container > * {
    margin-right: 2rem;
}

.width-block {
    display: block;
    width: 100%;
}

aside#filter-menu {
    background-color: var(--colour-main-violet);
    color: var(--colour-main-white);

    height: 100vh;
    display: inline-block;
    position: sticky;
    padding: 1rem;
    width: 300px;
    border-radius: var(--default-border-radius);
}

.stat-wrapper > * {
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.stat-card,
.double-stat-card {
    background-color: var(--colour-main-white);
    padding: 1rem;
    min-height: 8rem;
    min-width: 10rem;

    border-radius: var(--default-border-radius);
    box-shadow: var(--default-box-shadow-hover-low);
}
.double-stat-card {
    min-height: 8rem;
    min-width: 16rem;
}
.stat-card .card-stat-wrapper {
    align-items: flex-end;
}
.stat-card .card-stat-wrapper > * {
    margin: 0;
}
.stat-card .stat-value {
    font-size: 2.8rem;
}
.stat-card .stat-unit,
.stat-card .stat-label {
    color: var(--colour-main-grey);
}
.double-stat-card {
    display: flex;
    flex-direction: column;
}
.double-stat-card .stat-value-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.highcharts-wrapper {
    margin-bottom: 2rem;
}

// prettier tag editing
ul#category-list {
    list-style: none;
    margin: 1rem;
    padding: 1rem;
    min-width: 30%;

    background-color: var(--colour-main-white);
    border-radius: var(--default-box-shadow-hover-low);
}
ul#category-list > li {
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    align-items: center;
}