<div class="stat-card double-stat-card">
    <div class="stat-value-wrapper">
        <div class="stat-value">{{@primeValue}}</div>
        <div class="stat-value">{{@secValue}}</div>
    </div>
    <div class="stat-unit">{{@unit}}</div>
    <div class="stat-label">{{@label}}</div>
</div>
