<div class="stat-card">
    <div class="card-stat-wrapper flex-container flex-col">
        <span class="stat-value">{{@value}}</span>
        <span class="stat-unit">{{@unit}}</span>
    </div>
    <div class="stat-label">{{@label}}</div>
</div>
