<h3>Clip Overview</h3>

<div class="search-container flex-container flex-row">
    <Search::ModelSearch @model={{model}} @updateSearch={{action updateSearch}} />
</div>

<div class="flex-container flex-row">
    {{#each @model as |clip|}}
        <LinkTo @route="clips.clip" @model={{clip}}><ModelCard::ClipCard @clip={{clip}} /></LinkTo>
    {{/each}}
</div>
