<div class="search-container flex-container flex-row">
    <input placeholder="Search" class="model-search" onkeyup={{action @updateSearch value="target.value"}} value={{readonly searchQuery}} />
</div>


