<div id="main-content">

<h2>About Twitch Clip Analyser and categoriser</h2>

<p>We have big plans and you better believe it!</p>

    <div class="flex-container flex-row flex-center">
        <div class="content-text-only">
            <h3>Abstract</h3>

            <p>The rise of the gaming industry as a major entertainment media channel has helped esports develop into an emerging industry with major brands and investors entering as they do not want to miss out. The Covid-19 pandemic has further accelerated growth as esports is taking over viewers from traditional sports. As tournament organisers mainly rely on brand sponsorships and advertising revenue for income and such is primarily based on viewership, this exploratory study will examine strategic viewership management in the esports industry researched in the context of the Counter-Strike: Global Offensive (CS:GO) sector.</p>
            <p>To answer the main research question, the researcher applied a mixed research methodology. Primary research consists of qualitative in-depth interviews with industry experts familiar with the CS:GO sector. Additionally, the researcher carried out quantitative archival research of highlight clips to further drill down on drivers of viewership by excerpting clips of tournament broadcasting channels and comparing views to determine trends of viewership and engagement. As a result, the researcher produced graphs supporting personal opinions and experiences derived from industry experts.</p>
            <p>Interestingly, this research has found that participating teams are the main drivers of viewership, though all other production components also play into driving, retaining and engaging viewers. The study has also revealed that additional game publisher initiatives including relevant in-game content supporting the ecosystems’ revenue would help in growing the sector further.</p>
            <p>This research will be of benefit for esports tournament organisations, particularly in the CS:GO sector, but also in the esports industry as a whole to improve existing viewership strategies and practices with the goal of increasing advertising and brand sponsorship revenue.</p>
        </div>
    </div>
</div>